@import "tailwindcss";

/* @media (max-width: 768px) {
  aside {
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  aside.active {
    transform: translateX(0);
  }
} */
/* globals.css or your main css file */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}